<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add An item</title>
</head>
<body>
    <h1>Add an item to your Shopping list</h1>
    <!-- Add item form  -->
    <form action="add_item" method="POST">
        <!-- Security token -->
        {% csrf_token %}
        <!-- Django form template -->
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Add Item</button>
    </form>
</body>
</html>