<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit An item</title>
</head>
<body>
    <h1>Edit an item in your Shopping list</h1>
    <!-- Edit item form  -->
    <form method="POST">
        <!-- Security token -->
        {% csrf_token %}
        <!-- Django form template -->
        {% load crispy_forms_tags %}
        {{ form|crispy }}
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary">Update Item</button>
    </form>
</body>
</html>