<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS: https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>My Shopping List</title>
</head>

<body>
    <h1>Items I need to buy</h1>
    <!-- Table to display shopping list items -->
    <table class="table table-hover">
        {% for item in items %}
        <tr>
            <!-- Name of the items -->
            {% if item.complete %}
            <td><strike>{{ item.name }}</strike></td>
            {% else %}
            <td>{{ item.name }}</td>
            {% endif %}
            <!-- Toggle button -->
            <td>
                <a href="/toggle_item/{{ item.id }}">
                    <button type="button" class="btn btn-success">Done</button>
                </a>
            </td>       
            <!-- Edit button -->
            <td>
                <a href="/edit_item/{{ item.id }}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
            </td>
            <!-- Delete button -->
            <td>
                <a href="/delete_item/{{ item.id }}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
        <!-- If the list is empty -->
        {% empty %}
        <tr>
            <td>No items in the list</td>
        </tr>
        {% endfor %}
    </table>
    <!-- Button to add new items to the list -->
    <a href="/add_item" class="btn btn-primary">Add Item</a>
    <!-- Button to delete all items from the list -->
    <a href="/delete_all" class="btn btn-danger">Delete All</a>

    <!-- Bootstrap JS: https://getbootstrap.com/docs/5.2/getting-started/introduction/ -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>